* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.user-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 2px solid black;

    /* center the container */
    margin: 0 auto;

    width: 800px;
    height: 800px;
}

.container-item {
    background-color: white;
}