* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 960px;
    min-height: 100%;
}

.colourable {
    flex: 1 1 10%;
    height: 40px;
    background-color: aqua;
}