* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* center the container */
    margin: 0 auto;

    width: 800px;
    height: 800px;
}

.container-item {
    flex: 1 0 6.25%;
    background-color: aqua;
}